@import './variables.scss';

.App {
  text-align: center;
}

.header {
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  &-image {
    width: 80vw;
  }
}

.footer {
  color: $secondary-color;
  text-align: end;
  border-top: solid 1px $secondary-color;
  padding-top: 4px;
  &-text {
    margin-right: 20px;
  }
}
