.character-card {
  text-decoration: none;
  background-color: #00b0c9;
  border: 2px black solid;
  margin: 10px;
  width: 190px;
  text-align: start;
}

.character-photo {
  width: 100%;
}

.card-link {
  text-decoration: none;
  color: white;
}

.card-text {
  font-family: monospace;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.card-name {
  margin-bottom: 0;
}

.card-species {
  margin-top: 5px;
}
