.character-detail {
  background-color: black;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: monospace;
}

.back-link {
  text-decoration: none;
}

.back-link-icons {
  text-decoration: none;
  color: white;
  transform: translate(420px, 10px);
  display: flex;
  flex-direction: row;
}

.detail-card {
  height: 300px;
  width: 475px;
  background-color: #00b0c9;
  display: flex;
}

.error-image {
  width: 270px;
}

.error-text {
  margin-left: 15px;
}

.back-text {
  margin-top: 0;
  margin-left: 10px;
}

.detail-info {
  text-align: start;
  margin-left: 20px;
  margin-top: 20px;
}
