.character-list {
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 15px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
  gap: 20px;
  justify-items: center;
}
