@import './variables.scss';

body {
  background-color: $background-color;
  margin: 0;
  box-sizing: border-box;
  font-family: $main-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
